.projectTitle {
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-decoration : underline;
  text-underline-position:under;
  text-decoration-color: blue;
  text-decoration-thickness: 5px;
  margin: 0;
  margin-top: 30px;
  position: relative;
  left: 17%;
}

.bodyFrame {
  background-color: white;
  border-radius: 30px;
  width: 80%;
  height: 1200px;
  margin: 0 auto;
}

.textBlock {
  border-radius: 15px;
  box-sizing: border-box;
  border: solid 2px #1E90FF;
  font-size: 15px;
  padding: 20px;
  height: 1000px;
  resize: none;
  width: 100%;
}

.textDiv {
  width: 40%;
  float: left;
  margin: 5%;
  box-sizing: border-box;
}


button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn_initial {
  text-align: center;
  text-decoration: none;

  width: 30%;
  height: 45px;
  border: none;
  border-radius: 15px;
  background-color: #1E90FF;
  color: white;

  margin:auto;
  margin-bottom: 5em;
  display:block;

}